body{
    display: flex;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgb(255, 255, 187);
}
div.nav{
    display: flex;
    position: fixed;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(10vh);
    width: calc(100vw);
    background-color: white;
}
div.mainlogo{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(1vw);
    height: calc(6vh);
    width: calc(4vw);
    background-color: transparent;
}
img.mainlogo{
    display: flex;
    position: inherit;
    width: inherit;
    height: inherit;
    border-radius: 100px;
}
div.srchnav{
    display: flex;
    position: absolute;
    left: calc(6vw);
    top: calc(2vh);
    height: calc(6vh);
    width: calc(15vw);
    background-color: lightgray;
    justify-content: flex-end;
    border-radius: 100px;
    /* justify-content: flex-start; */
    text-align: center;
}
input.srchbar{
    height: inherit;
    width: calc(13vw);
    border-radius: 100px;
    /* border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; */
    text-indent: 20px;
    background-color: lightgray;
    color: darkgray;
    border: 0px;    
    justify-content: flex-start;
}
i.srchbar{
    font-size: 140%;
    font-weight: bold;
    height: inherit;
    color: darkgray;
    width: calc(3vw);
}
div.shortcutbar{
    display: flex;
    position: absolute;
    left: calc(30vw);
    top: calc(0vh);
    height: inherit;
    width: calc(40vw);
    background-color: transparent;
}
div.home{
    display: flex;
    position: absolute;
    top: calc(0vh);
    width: calc(0vw);
    background-color: transparent;
    height: inherit;
    width: calc(10vw);
    text-align: center;
}
div.video{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(10vw);
    width: calc(0vw);
    background-color: transparent;
    height: inherit;
    width: calc(10vw);
    text-align: center;
}
div.profile{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(20vw);
    width: calc(0vw);
    background-color: transparent;
    height: inherit;
    width: calc(10vw);
    text-align: center;
}
div.game{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(30vw);
    width: calc(0vw);
    background-color: transparent;
    height: inherit;
    width: calc(10vw);
    text-align: center;
    justify-content: flex-start;
}
i.srb{
    display: flex;
    position: absolute;
    top: calc(2.5vh);
    height: 70%;
    width: 70%;
    text-align: center;
    justify-content: center;
}
svg.srb{
    font-size: 50%;
    height: 70%;
    width: 70%;
}
div.menu{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: inherit;
    width: calc(25vw);
    background-color: transparent;
}
div.pd{
    display: flex;
    position: absolute;
    left: calc(vw);
    top: calc(2vh);
    width: calc(10vw);
    height: calc(6vh);
    background-color: transparent;
    border: none;
    border-radius: 50px;
}
div.pd:hover{
    background-color: gray;
}
div.pi{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0vw);
    height: calc(4vh);
    width: calc(2vw);
    background-color: transparent;
}
img.pi{
    height: inherit;
    width: inherit;
    border-radius: 100px;
}
div.name{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(5vh);
    width: 7vw;
    height: calc(4vh);
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: bold;
}
div.mnuicon{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: inherit;
    width: calc(15vw);
    background-color: transparent;
}
div.mnu{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(0vw);
    height: calc(6vh);
    width: calc(3vw);
    background-color: transparent;
    border-radius: 100px;
}
div.msngr{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(4vw);
    height: calc(6vh);
    width: calc(3vw);
    background-color: transparent;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
}
div.ntfc{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(8vw);
    height: calc(6vh);
    width: calc(3vw);
    background-color: transparent;
    border-radius: 100px;
}
div.drpdn{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(12vw);
    height: calc(6vh);
    width: calc(3vw);
    background-color: transparent;
    border-radius: 100px;
}
div.fbdta{
    display: flex;
    position: absolute;
    top: calc(10vh);
    left: calc(0vw);
    width: calc(100vw);
    height: calc(90vh);
    background-color: lightyellow;
    overflow: scroll;
    /* z-index: 10; */
}
div.menulist{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    overflow: scroll;
    /* scroll-behavior: unset; */
    width: calc(22vw);
    height: calc(90vh);
    background-color: rgb(255, 255, 255);
}
i.menu{
    height: inherit;
    width: inherit;
    text-align: center;
    justify-content: center;
    font-weight: bolder;

}
i.menu:hover{
    background-color: gray;
    border-radius: 100px;
}
div.id{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(8vh);
    width: inherit;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}
div.piid{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(3vw);
    width: calc(3vw);
    height: calc(6vh);
}
img.piid{
    border-radius: 100px;
    height: inherit;
    width: inherit;
}
div.nameid{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(5vw);
    height: calc(4vh);
    width: calc(16vw);
    font-weight: bold;
    text-align: center;
    /* background-color: rgb(16, 32, 252); */
    justify-content: center;
}
div.mnu1{
    display: flex;
    position: absolute;
    top: calc(8vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu2{
    display: flex;
    position: absolute;
    top: calc(16vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(132, 0, 255); */
}
div.mnu3{
    display: flex;
    position: absolute;
    top: calc(24vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(58, 5, 107); */
}
div.mnu4{
    display: flex;
    position: absolute;
    top: calc(32vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu5{
    display: flex;
    position: absolute;
    top: calc(40vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(101, 226, 43); */
}
div.mnu6{
    display: flex;
    position: absolute;
    top: calc(48vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(43, 226, 202); */
}
div.mnu7{
    display: flex;
    position: absolute;
    top: calc(56vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(11, 95, 0); */
}
div.mnu8{
    display: flex;
    position: absolute;
    top: calc(64vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu9{
    display: flex;
    position: absolute;
    top: calc(72vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu10{
    display: flex;
    position: absolute;
    top: calc(80vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu11{
    display: flex;
    position: absolute;
    top: calc(88vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnu12{
    display: flex;
    position: absolute;
    top: calc(96vh);
    left: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: blueviolet; */
}
div.mnuicn{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(2vw);
    height: inherit;
    width: calc(3vw);
    /* background-color: gray; */
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
div.icndata{
    display: flex;
    position: absolute;
    top: calc(2vh);
    left: calc(5vw);
    height: calc(4vh);
    width: calc(16vw);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    /* background-color: rgb(16, 252, 67); */
}
div.hvr:hover{
    background-color: lightgray;
    border-radius: 50px;
}
div.contact{
    display: flex;
    position: fixed;
    right: calc(0vw);
    top: calc(10vh);
    height: calc(100vh);
    overflow: scroll;
    scrollbar-width: 1px;
    width: calc(20vw);
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    text-indent: 8px;
}
div.pge{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: calc(28vh);
    width: inherit;
    border-bottom: 1px solid black;
    /* background-color: rgb(18, 128, 128); */
}
div.pgeheading{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: calc(5vh);
    width: inherit;
    text-indent: 20px;
    /* background-color: lightpink; */
}
div.ypge{
    display: flex;
    position: absolute;
    left: calc(0vw);
    top: calc(0vh);
    height: inherit;
    width: calc(10vw);
    color: gray;
    /* background-color: lightseagreen; */
    font-weight: bolder;
}
div.pge3dot{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: inherit;
    width: calc(3vw);
    /* background-color: lightsalmon; */
}
div.prflepge{
    display: flex;
    position: absolute;
    top: calc(5vh);
    left: calc(0vw);
    height: calc(8vh);
    width: inherit;
    /* background-color: lightslategrey; */
}
div.pgeimg{
    display: flex;
    position: absolute;
    left: calc(1vw);
    top: calc(1vh);
    height: calc(6vh);
    width: calc(3vw);
    /* background-color: lightgreen; */
}
img.pge{
    margin-left: 5px;
    border-radius: 100px;
    width: inherit;
}
div.pgenme{
    display: flex;
    position: absolute;
    right: calc(0vw);
    top: calc(3vh);
    width: calc(15vw);
    height: calc(4vh);
    /* background-color: antiquewhite; */
    font-weight: bold;
}
div.pgenfd{
    display: flex;
    position: absolute;
    right: calc(0vw);
    top: calc(13vh);
    width: inherit;
    height: calc(13vh);
    /* background-color: lightcoral; */
}
div.pgemsg{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(4vh);
    width: inherit;
    /* background-color: lightgreen; */
}
div.pgentfc{
    display: flex;
    position: absolute;
    top: calc(4vh);
    left: calc(0vw);
    height: calc(4vh);
    width: inherit;
    /* background-color: rgb(225, 255, 118); */
}
div.pgecp{
    display: flex;
    position: absolute;
    top: calc(8vh);
    left: calc(0vw);
    height: calc(4vh);
    width: inherit;
    /* background-color: rgb(144, 235, 238); */
}
div.pgeicn{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(1vw);
    width: calc(2vw);
    height: inherit;
    /* background-color: lightcoral; */
}
div.pgeicndta{
    display: flex;
    position: absolute;
    right: calc(0vw);
    top: calc(0.5vh);
    height: calc(3vh);
    width: calc(16vw);
    /* background-color: lightskyblue; */
}
div.cntct{
    display: flex;
    position: absolute;
    top: calc(28vh);
    right: calc(0vw);
    width: inherit;
    height: calc(80vh);
    /* background-color: lightgreen; */
}
div.ycnt{
    display: flex;
    position: absolute;
    left: calc(0vw);
    top: calc(0vh);
    height: calc(5vh);
    width: calc(10vw);
    text-indent: 20px;
    color: gray;
    /* background-color: lightseagreen; */
    font-weight: bolder;
}
div.cnt3dot{
    display: flex;
    position: absolute;
    top: calc(0vh);
    right: calc(0vw);
    height: calc(5vh);
    width: calc(3vw);
    /* background-color: lightsalmon; */
}
div.cont1{
    display: flex;
    position: absolute;
    top: calc(5vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.unprsn{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(1vw);
    height: calc(6vh);
    width: calc(3vw);
    border-radius: 100px;
    /* background-color: rgb(0, 255, 98); */
}
div.unprsndta{
    display: flex;
    position: absolute;
    top: calc(2.5vh);
    right: calc(1vw);
    height: calc(4vh);
    font-weight: bold;
    width: calc(14vw);
    /* background-color: lightpink; */
}
div.cont2{
    display: flex;
    position: absolute;
    top: calc(13vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont3{
    display: flex;
    position: absolute;
    top: calc(21vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont4{
    display: flex;
    position: absolute;
    top: calc(29vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont5{
    display: flex;
    position: absolute;
    top: calc(37vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont6{
    display: flex;
    position: absolute;
    top: calc(45vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont7{
    display: flex;
    position: absolute;
    top: calc(53vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont8{
    display: flex;
    position: absolute;
    top: calc(61vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont9{
    display: flex;
    position: absolute;
    top: calc(69vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.cont10{
    display: flex;
    position: absolute;
    top: calc(77vh);
    right: calc(0vw);
    width: inherit;
    height: calc(8vh);
    /* background-color: rgb(10, 75, 75); */
    border-bottom: 1px solid black;
    border-radius: 20px;
}
div.mnfdpge{
    display: flex;
    position: absolute;
    left: calc(25vw);
    top: calc(0vh);
    width: calc(50vw);
    height: calc(105vh);
    /* background-color: lightcoral; */
    overflow: scroll;
    /* scrollbar-width: 1px; */
}
div.fbstry{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0vw);
    height: calc(30vh);
    width: inherit;
    /* background-color: lightgray; */
}
div.mystry1{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(30vh);
    width: calc(8vw);
    background-color: white;
    border-radius: 20px;
}
div.picmystry{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(20vh);
    width: inherit;
    /* background-color: lightpink; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.strycption{
    display: flex;
    position: absolute;
    bottom: calc(0vh);
    left: calc(0vw);
    height: calc(4vh);
    width: inherit;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: rgb(231, 140, 29); */
    justify-content: center;
    font-size: small;
}
img.strypic{
    height: inherit;
    width: inherit;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.addstry{
    display: flex;
    position: absolute;
    bottom: calc(7vh);
    left: calc(2.5vw);
    height: calc(6vh);
    width: calc(3vw);
    border-radius: 100px;
    background-color: rgb(17, 0, 255);
    border: 5px solid rgb(255, 255, 255);
}
i.stry{
    color: rgb(254, 254, 255);
}
div.mystry2{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(9vw);
    height: calc(30vh);
    width: calc(8vw);
    background-color: white;
    border-radius: 20px;
}
img.strypic2{
    height: inherit;
    width: inherit;
    border-radius: 20px;
}
div.addstry2{
    display: flex;
    position: absolute;
    left: calc(0.5vw);
    top: calc(1vh);
    height: calc(4vh);
    width: calc(2vw);
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.993);
    border: 1px solid rgb(255, 0, 0);
}
i.stry2{
    color: rgb(255, 255, 255);
}
div.picmystry2{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(30vh);
    width: inherit;
    /* background-color: lightpink; */
    border-radius: 20px;
}
div.strycption2{
    display: flex;
    position: absolute;
    bottom: calc(0vh);
    left: calc(0vw);
    height: calc(4vh);
    width: inherit;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(231, 140, 29, 0);
    justify-content: center;
    font-size: small;
    color: black;
    font-weight: bolder;
    
}
div.mystry3{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(18vw);
    height: calc(30vh);
    width: calc(8vw);
    background-color: white;
    border-radius: 20px;
}
div.mystry4{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(27vw);
    height: calc(30vh);
    width: calc(8vw);
    background-color: white;
    border-radius: 20px;
}
div.mystry5{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(36vw);
    height: calc(30vh);
    width: calc(8vw);
    background-color: white;
    border-radius: 20px;
}
div.mrestry{
    display: flex;
    position: absolute;
    right: calc(2vw);
    top: calc(12vh);
    height: calc(6vh);
    width: calc(3vw);
    background-color: rgb(27, 0, 148);
    border: 2px solid rgb(168, 168, 168);
    border-radius: 100px;
    color: white;
}
div.nfddtaa{
    display: flex;
    position: absolute;
    top: calc(32vh);
    left: calc(5vw);
    height: calc(200vh);
    width: calc(40vw);
    /* background-color: lightskyblue; */
}
div.postfb{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    height: calc(16vh);
    width: inherit;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 20px;
}
div.postfbtp{
    display: flex;
    position: absolute;
    top: calc(0vh);
    width: inherit;
    height: calc(8vh);
    width: inherit;
    /* background-color: lightsalmon; */
    border-bottom: 1px solid black;
}
div.postfbtpimg{
    display: flex;
    position: absolute;
    top: calc(1vh);
    left: calc(0.5vw);
    height: calc(6vh);
    width: calc(3vw);
    /* background-color: lightgoldenrodyellow; */
    border-radius: 100px;
}
img.postfbtp{
    height: inherit;
    width: inherit;
    border-radius: 100px;
}
div.postsrchbr{
    display: flex;
    position: absolute;
    right: calc(1vw);
    top: calc(0.5vh);
    height: calc(6vh);
    width: calc(35vw);
    /* background-color: lightgreen; */
    border-radius: 40px;
}
input.postsrchbr{
    height: inherit;
    width: inherit;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid gray;
}
div.mrepst{
    display: flex;
    position: absolute;
    bottom: calc(0vh);
    left: calc(0vw);
    height: calc(8vh);
    width: inherit;
    /* background-color: lightgreen; */
}
div.photopost1{
    display: flex;
    position: absolute;
    left: calc(1vw);
    top: calc(0vh);
    width: calc(12vw);
    height: inherit;
    /* background-color: lightcyan; */
}
div.photopost2{
    display: flex;
    position: absolute;
    left: calc(14vw);
    top: calc(0vh);
    width: calc(12vw);
    height: inherit;
    /* background-color: lightcyan; */
}
div.photopost3{
    display: flex;
    position: absolute;
    left: calc(27vw);
    top: calc(0vh);
    width: calc(12vw);
    height: inherit;
    /* background-color: lightcyan; */
}
div.icnpst{
    display: flex;
    position: absolute;
    left: calc(0vw);
    top: calc(0vh);
    width: calc(4vw);
    height: inherit;
    /* background-color: lightslategray; */
    align-items: center;
    justify-content: center;
    color: rgb(169, 235, 16);
}
div.icnpstdta{
    display: flex;
    position: absolute;
    right: calc(0vw);
    top: calc(2vh);
    height: calc(5vh);
    width: calc(8vw);
    /* background-color: rgb(78, 180, 180); */
}
div.postfb1{
    display: flex;
    position: absolute;
    top: calc(20vh);
    left: calc(0vw);
    width: inherit;
    height: calc(100vh);
    /* background-color: lightgreen; */
}
div.postfb2{
    display: flex;
    position: absolute;
    top: calc(120vh);
    left: calc(0vw);
    width: inherit;
    height: calc(65vh);
    /* background-color: rgb(6, 59, 6); */
}
div.postfb3{
    display: flex;
    position: absolute;
    top: calc(185vh);
    left: calc(0vw);
    width: inherit;
    height: calc(71vh);
    /* background-color: lightgreen; */
}
div.postfb4{
    display: flex;
    position: absolute;
    top: calc(255vh);
    left: calc(0vw);
    width: inherit;
    height: calc(68vh);
    /* background-color: rgb(37, 122, 37); */
}
iframe.postfb{
    height: inherit;
    width: inherit;
}