body{
    display: flex;
    height: calc(100vh);
    width: calc(100vw);
    background-color: whitesmoke;
}
div.facebook{
    display: flex;
    position: absolute;
    top: calc(30vh);
    left: calc(10vw);
    height: calc(30vh);
    width: calc(45vw);
    background-color: transparent;
}
div.fh{
    display: flex;
    position: absolute;
    top: calc(0vh);
    left: calc(0vw);
    width: inherit;
    height: calc(13vh);
    background-color: transparent;
    font-size: 350%;
    font-weight: bold;
    color: rgb(0, 102, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.fhd{
    display: flex;
    position: absolute;
    top: calc(13vh);
    left: calc(0vw);
    height: calc(17vh);
    width: inherit;
    background-color: transparent;
    font-size: 180%;
    word-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.ud{
    display: flex;
    position: absolute;
    top: calc(20vh);
    right: calc(10vw);
    width: calc(30vw);
    height: calc(55vh);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px ; */
}
div.email{
    display: flex;
    position: absolute;
    top: calc(2vh);
    right: calc(1vw);
    width: calc(28vw);
    height: calc(8vh);
    background-color: transparent;
}
input.em{
    width: inherit;
    height: inherit;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
div.password{
    display: flex;
    position: absolute;
    top: calc(13vh);
    right: calc(1vw);
    width: calc(28vw);
    height: calc(8vh);
    background-color: transparent;
}
div.login{
    display: flex;
    position: absolute;
    top: calc(25vh);
    right: calc(1vw);
    width: calc(28vw);
    height: calc(8vh);
    background-color: transparent;
}
div.fp{
    display: flex;
    position: absolute;
    top: calc(36vh);
    right: calc(1vw);
    width: calc(28vw);
    height: calc(4vh);
    background-color: transparent;
    border-bottom: 1px solid black;
    justify-content: center;
    color: blue;
}
div.cna{
    display: flex;
    position: absolute;
    top: calc(44vh);
    right: calc(7vw);
    width: calc(16vw);
    height: calc(8vh);
    background-color: transparent;
}
button.li{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 120%;
}
button.li:hover{
    background-color: darkblue;
}
button.cna{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    background-color: rgb(0, 255, 21);
    color: white;
    font-size: 110%;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
    height: inherit;
    width: inherit;
}
button.cna:hover{
    background-color: darkgreen;
}